#home {

  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    margin-top: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .composeButton {
    margin-bottom: 5px;
    align-self: flex-end;
  }

}