$lightgrey: #f1f1f1;

.media {
  padding: 10px 20px 10px 20px !important;
  margin: 0px 0px 0px 0px !important;
  border-bottom: 1px solid $lightgrey;
  color: black;
}

.media:hover {
  transition: .1s all linear;
  background-color: $lightgrey;
  cursor: pointer;
}

.media p {
  font-size: 16px;
  color: #696969;
}

.media-heading {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.media-left {
  padding-right: 20px !important;
}

.media-body, .media-left, .media-right {
  vertical-align: middle !important;
}